/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------ reset end -------------------------- */


/* ----------------------- variables ---------------------------- */
:root{
    --sidebar-margin-left: 1rem;
}

/* fonts */
body {
    font-family: 'Roboto', sans-serif;
}

/* layout */
.grid-container {
    display: grid;
    grid-template-columns: minmax(250px, 20%) 1fr;
    height: 100vh;
}

/* WIP */
/* .sidebar, .main-content, header, .cards-contianer  {
    border: 1px solid red;

} */

/* -------------------------- layout main content ---------------------- */

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;

}

/* ------------------------ header ----------------------------------*/
header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color:white;
    
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    box-shadow: rgba(10, 10, 10, 0.2) 0px 4px 24px;

    position: relative;
    
}


.cards-contianer {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 7;
}

.header-top {
    grid-row: 1 / 2;
    margin: 0.5rem;
}

.header-bottom {
    grid-row: 2 / 3;
    margin: 0.5rem;
}

#icon-bender {
    height: 2.5rem;
}
/* select all icons in header */
.header-top > div > img {
    height: 2rem;
    
}

.header-top> div{
    display: flex;
    align-items: center;   
}

#icon-bender, .username {
    margin-left: 0.75rem;
}

.search-input{
    border: 2.0px solid black;
    border-radius: 25px;
    background-color: whitesmoke;
}


.user-welcome {
    display: flex;
    align-items: center;
}

.container-paragraphs{
    margin-left:0.5rem;
}

.button {
    width: 4rem;
    margin-left: 0.75rem;
    border-radius: 10px;
    border: none;
    padding: 4px;
    border-color: #D7AF70;
    background-color: #D7AF70;
}

/* fonts */
.container-paragraphs > p, .user-login > p {
    font-weight: bold;
}

/* ----------------------------------------------------------------------- */

/* -------------------------- sidebar---------------------------------*/
.sidebar {
    background-color: #D7AF70;
}

.link-home, .link-profile, .link-message, .link-history, .link-tasks, 
.link-communities, .link-settings, .link-support, .link-privacy {
    text-decoration: none;
}


/* grid layout */

.sidebar-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* using rem to size the grid rows without filling the whole column */
    grid-template-rows: 5rem 3rem 3rem 3rem 3rem 3rem 4.0rem 3rem 3rem 3rem;
}

.sidebar-heading{
    grid-row: 1 / 2;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.sidebar-home{
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
}

.sidebar-profile{
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
}

.sidebar-message{
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
}

.sidebar-history{
    grid-row: 5 / 6;
    display: flex;
    align-items: center;
}

.sidebar-tasks{
    grid-row: 6 / 7;
    display: flex;
    align-items: center;
}

.sidebar-communities{
    grid-row: 7 / 8;
    display: flex;
    align-items: start;
}

.sidebar-settings{
    grid-row: 8 / 9;
    display: flex;
    align-items: center;
}



.sidebar-support{
    grid-row: 9 / 10;
    display: flex;
    align-items: center;
}

.sidebar-privacy{
    grid-row: 10 / 11;
    display: flex;
    align-items: center;
}





/* font size  */
.h1-sidebar {
    margin-top: 0.25rem;
    font-size: 2rem;
    font-weight: bold;

}

.link-home, .link-profile, .link-message, .link-history, .link-tasks, 
.link-communities, .link-settings, .link-support, .link-privacy{
    font-size: 1.25rem;
    font-weight: bold;
}

/* sizing icons*/
.dashboard-icon {
    height: 2.5rem;
}

.icon-home, .icon-profile, .icon-message, .icon-history, .icon-tasks, 
.icon-communities, .icon-settings, .icon-support, .icon-privacy {
    height: 1.25rem;
}


/* positon sidebar elements */
.sidebar > div {
    margin-left: 1.5em;
}

.sidebar-heading, .sidebar-communities {
    margin-top: 0.75rem;
}

.sidebar > div> a {
    margin-left: 0.75rem;
}

a, a:visited, a:hover, a:focus {
    color: BLACK;
}



/* ------------------------------------------------------------------------ */

/* ------------------------ cards container ------------------------------ */
.cards-container-main {
    background-color: #E0E0E0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
    /* align-items: center; */

    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.right-card-container {
    grid-row: 2 / 5;
    grid-column: 3 / 4;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.h1-left-card-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
 
    margin-left: 1rem;

}

.h1-right-card-container {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
 
    margin-left: 1rem;

}

/* fonts size */
.card-top > h1, .card-announcements > h1 {
    font-size: large;
    font-weight: bold;
}

.card-top > p, .card-announcements > p{
    font-size: medium;


}

.h1-left-card-container, .h1-right-card-container {
    font-size: large;
    font-weight: bold;
    align-self: center;

    padding-top: 2rem;
}

.h1-right-card-container-mid {
    font-size: large;
    font-weight: bold;

}


/* positioning card content */
.card > p, .card > h1, .cards-icon > img {

    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.card-top > p, .card-top > h1, .cards-icon > img {

    margin: 0.5rem 0.5rem 0.5rem 1rem;
}


.card-announcements > p, .card-announcements > h1, .cards-icon > img,
.h1-right-card-container-mid {
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}


.card {
    background: linear-gradient(
        to right,
        black 0%,
        black 2.5%,
        white 2.5%,
        white 100%
    );
    min-height: 6rem;
    /* max-height: 10rem; */
    margin: 1rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(10, 10, 10, 0.2) 0px 8px 24px;
}



.card-right {
    background: linear-gradient(
        to right,
        black 0%,
        black 2.5%,
        white 2.5%,
        white 100%
    );
    min-height: 6rem;
    margin: 1rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(10, 10, 10, 0.2) 0px 8px 24px;
}

.text-maintenance {
    font-size: medium;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
    border-bottom: grey;
    border-style: solid;

}


.user {
    display: flex;
    align-items: center;

    margin: 0.5rem 0.5rem 0.5rem 1rem;  
}

.user > img {
    height: 2.5rem;
}

.user-text {
    margin-left: 1.0rem;
}

.cards-icon {
    align-self: flex-end;

    display: flex;
    justify-content: flex-end;
}

.cards-icon > img {
    height: 1.25rem;
}

.card1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.card2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.card3 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.card4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.card5 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.card6 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

/* text */
