/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------ reset end -------------------------- */


/* ----------------------- variables ---------------------------- */
:root{
    --sidebar-margin-left: 1rem;
}

/* fonts */
body {
    font-family: 'Roboto', sans-serif;
}

/* layout */
.grid-container {
    display: grid;
    grid-template-columns: minmax(250px, 20%) 1fr;
    height: 100vh;
}

.sidebar, .main-content, header, .cards-contianer, .card  {
    border: 1px solid red;
    /* height: 100vh; */
}

/* -------------------------- layout main content ---------------------- */

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;

}

/* ------------------------ header ----------------------------------*/
header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color:white;
    
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr
}


.cards-contianer {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 7;
}

.header-top {
    grid-row: 1 / 2;
    margin: 0.5rem;
}

.header-bottom {
    grid-row: 2 / 3;
    margin: 0.5rem;
}

#icon-bender {
    height: 2.5rem;
}
/* select all icons in header */
.header-top > div > img {
    height: 2rem;
    
}

.header-top> div{
    display: flex;
    align-items: center;   
}

#icon-bender, .username {
    margin-left: 0.75rem;
}

.search-input{
    border: 2.0px solid black;
    border-radius: 25px;
    background-color: lightgray;
}


.user-welcome {
    display: flex;
    align-items: center;
}

.container-paragraphs{
    margin-left:0.5rem;
}

.button {
    width: 4rem;
    margin-left: 0.75rem;
    border-radius: 10px;
    border: none;
    padding: 4px;
    border-color: #D7AF70;
    background-color: #D7AF70;
}
/* ----------------------------------------------------------------------- */

/* -------------------------- sidebar---------------------------------*/
.sidebar {
    background-color: #D7AF70;
}

.link-home, .link-profile, .link-message, .link-history, .link-tasks, 
.link-communities, .link-settings, .link-support, .link-privacy {
    text-decoration: none;
}


/* grid layout */

.sidebar-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* using rem to size the grid rows without filling the whole column */
    grid-template-rows: 5rem 2rem 2rem 2rem 2rem 2rem 3.0rem 2rem 2rem 2rem;
}

.sidebar-heading{
    grid-row: 1 / 2;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.sidebar-home{
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
}

.sidebar-profile{
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
}

.sidebar-message{
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
}

.sidebar-history{
    grid-row: 5 / 6;
    display: flex;
    align-items: center;
}

.sidebar-tasks{
    grid-row: 6 / 7;
    display: flex;
    align-items: center;
}

.sidebar-communities{
    grid-row: 7 / 8;
    display: flex;
    align-items: start;
}

.sidebar-settings{
    grid-row: 8 / 9;
    display: flex;
    align-items: center;
}



.sidebar-support{
    grid-row: 9 / 10;
    display: flex;
    align-items: center;
}

.sidebar-privacy{
    grid-row: 10 / 11;
    display: flex;
    align-items: center;
}





/* font size  */
.h1-sidebar {
    margin-top: 0.25rem;
    font-size: 2rem;

}

.link-home, .link-profile, .link-message, .link-history, .link-tasks, 
.link-communities, .link-settings, .link-support, .link-privacy{
    font-size: 1.25rem;
}

/* sizing icons*/
.dashboard-icon {
    height: 2.5rem;
}

.icon-home, .icon-profile, .icon-message, .icon-history, .icon-tasks, 
.icon-communities, .icon-settings, .icon-support, .icon-privacy {
    height: 1.25rem;
}


/* positon sidebar elements */
.sidebar > div {
    margin-left: 1.5em;
}

.sidebar-heading, .sidebar-communities {
    margin-top: 0.2rem;
}

.sidebar > div> a {
    margin-left: 0.75rem;
}

a, a:visited, a:hover, a:focus {
    color: BLACK;
}



/* ------------------------------------------------------------------------ */
